
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Main Content */

#userinput,
#subinput {
  display: inline-block;
}

body, html {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  background: url("./images/back.png");
  
}

#root{
  height:100%;
}

.snow{
  background: url("./images/snow.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.thunderstorm{
  background: url("./images/thunder.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.rain{
  background: url("./images/rain.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.drizzle{
  background: url("./images/drizzle.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.clear{
  background: url("./images/clear.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.atmosphere{
  background: url("./images/haze.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.haze{
  background: url("./images/haze.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mist, .fog{
  background: url("./images/mist.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.dust{
  background: url("./images/dust.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.clouds{
  background: url("./images/clouds.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  width: 100%;
  height: 10vh;
}

#subinput {
  margin: 10px;
}

h1 {
  font-size: 120px;
}

.maxmin {
  display: inline-block;
  margin-right: 50px;
  color: #FFF;
  text-shadow: 2px 2px #000930;
}

#userinput{
  border-radius: 16px 0px 16px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 36%;
  outline: none;
  border-bottom: 3px solid #000930;
  border-top: 3px solid #000930;
}

#userinput::placeholder{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-style: oblique;
}

#subinput{
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: initial;
  font-style: italic;
}

#cityname{
  font-family: cursive;
  font-size: 50px;
  color: peru;
  text-shadow: 2px 2px #000930;
}

h1{
  color: #FFF;
  font-size: 140px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0,0,0,0.6);
  font-style: normal;
}

h1 span{
  font-weight: 500;
}

#desc{
  font-size: 60px;
  font-variant: small-caps;
  font-weight: 300;
  text-shadow: 2.5px 1.4px rgba(0,0,0,0.6);
  color: #FFF;
}

h4{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: 200;
  color: #423477;
  font-style: oblique;
  text-shadow: 1px 1px black;
}



#time{
  position: absolute;
  text-align: left;
  bottom: 350px;
  left: 100px;
  color: #FFF;
}

#date{
  position: absolute;
  text-align: right;
  bottom: 350px;
  right: 100px;
  color: #FFF;
}

table,
th,
td {
  border: 0.5px solid white;
  color: white;
  font-weight: lighter;
}

table {
  table-layout: auto;
  max-width: 80%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

th{
  font-size: xx-large;
  text-shadow: 2px 2px darkslategrey;
  text-align: center;
  font-family: cursive;
  text-transform: uppercase;
}

tr{
  text-align: center;
  font-size: x-large;
}

/* Contact */

.get_in_touch{
  color: white;
  position: absolute;
  font-size: 70px;
  font-family: cursive;
  text-shadow: 2px 2px #ff6348;
}

.info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.card{
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    color: #ffffff;
    background-color:transparent;
    opacity: 0.8;
    cursor: pointer;
    top: 170px;
}

.card-icon{
    font-size: 28px;
    background: #ff6348;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
}


/*Contact and Main Content*/
@media screen and (max-width: 800px){

    .get_in_touch{
      font-size: 50px;
      transform: rotate(-90deg);
      left:0;
    }

    .info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 0px 0;
        top: 0px;
        left: 23%;
    }
    #time{
      position: absolute;
      text-align: left;
      left: 30px;
      top: 140px;
      color: #FFF;

    }
    
    #date{
      position: absolute;
      text-align: right;
      top: 140px;
      right: 30px;
      color: #FFF;
    }
    
}


#navicon{
  font-size: x-large;
  color: white;
}

#navicon:hover{
  font-size: xx-large;
}

/* Precautions*/
.prec_rainy{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  color: #FFF;
  opacity: 1;
  left: 0%;
  background: url("./images/prec_rain.jpg");
  height: 100%;
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.prec_clear{
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  color: #FFF;
  opacity: 1;
  height: 100%;
  left: 25%;
  width: 25%;
  background: url("./images/prec_clear.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.prec_snowy{
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #fff;
  opacity: 1;
  height: 100%;
  left: 50%;
  width: 25%;
  background: url("./images/prec_snow.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.prec_atmospheric{
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #FFF;
  opacity: 1;
  height: 100%;
  left: 75%;
  width: 25%;
  background: url("./images/prec_atmo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}


.card_name{
  padding-top: 100px;
  font-size: 60px;
  font-weight: 500;
  text-shadow: 2px 2px gray;
  text-align: center;
  line-height: 60px !important;
  color: black;
}

.weather_card:hover .card_name{
  color: #FFF;
  background: #ff6348;
  cursor: pointer;
}

.weather_card p{
  position: absolute;
  font-weight: 300;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  color: white;
}


.weather_card:hover p{
  max-height: 40px;
  opacity: 1;
}


.para_rain{
  margin-top: 250px;
  margin-left: 2.5%;
  text-align: left;
  color: white;
  font-size: xx-large;
}

.para_clear{
  margin-top: 250px;
  margin-left: 27.5%;
  text-align: left;
  color: white;
  font-size: xx-large;
}

.para_snow{
  margin-top: 250px;
  margin-left: 52.5%;
  text-align: left;
  color: white;
  font-size: xx-large;
}

.para_atmo{
  margin-top: 250px;
  margin-left: 77.5%;
  text-align: left;
  color: white;
  font-size: xx-large;
}

@media screen and (max-width: 800px){

  .prec_rainy{
    padding: 8%;
    padding-left: 2%;
    text-align: left;
    top: 0%;
    height: 25%;
    width: 100%;
  }

  .prec_clear{
    padding: 6.5%;
    padding-left: 2%;
    text-align: left;
    left: 0%;
    top: 25%;
    height: 25%;
    width: 100%;
  }
  
  .prec_snowy{
    padding: 6.5%;
    padding-left: 2%;
    text-align: left;
    left: 0%;
    top: 50%;
    height: 25%;
    width: 100%;
  }

  .prec_atmospheric{
    padding: 6.5%;
    padding-left: 2%;
    text-align: left;
    left: 0%;
    top: 75%;
    height: 25%;
    width: 100%;
  }

  .weather_card p{
    position: absolute;
    opacity: 0;
    font-weight: lighter;
    color: white;
  }

  .para_rain{
    margin-left: 300px;
    margin-top: auto;
    text-align: left;
  }
  .para_clear{
    margin-left: 300px;
    margin-top: 20%;
  }

  .para_snow{
    margin-left: 300px;
    margin-top: 45%;
  }
  .para_atmo{
    margin-left: 400px;
    margin-top: 70%;
  }
}

/*About*/

.head{
  font-size: 55px;
  color: white;
  text-align: center;
  font-family: cursive;
  padding-top: 0px;
}


.para, .para1, .para2{
  font-size: 20px;
  color:beige;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  padding-left: 15%;
}

.image2 h2, .image3 h2{
  text-align: center;
  font-size: 40px;
  font-family: cursive;
  color: white;
}

@media screen and (max-width: 800px)
{

}
