
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#userinput,
#subinput {
  display: inline-block;
}

body, html {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  height: 100%;
  background-image: url("./images/back.png");
}

#root{
  height:100%;
}

.snow{
  background: url("./images/snow.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.thunderstorm{
  background: url("./images/thunder.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.rain{
  background: url("./images/rain.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.drizzle{
  background: url("./images/drizzle.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.clear{
  background: url("./images/clear.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.atmosphere{
  background: url("./images/atmosphere.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;

}

.clouds{
  background: url("./images/clouds.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;
}

header {
  width: 100%;
  height: 10vh;
}

#subinput {
  margin: 10px;
}

table,
th,
td {
  border: 0.5px solid white;
  color: white;
  font-weight: lighter;
}

table {
  align-self: center;
  max-width: 70%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 120px;
}

.maxmin {
  display: inline-block;
  margin-right: 50px;
  color: #FFF;
  text-shadow: 2px 2px #000930;
}

#userinput{
  border-radius: 16px 0px 16px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 36%;
  outline: none;
  border-bottom: 3px solid #000930;
  border-top: 3px solid #000930;
}

#userinput::placeholder{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-style: oblique;
}

#subinput{
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: initial;
  font-style: italic;
 
}

#cityname{
  font-family: cursive;
  font-size: 50px;
  color: peru;
  text-shadow: 2px 2px #000930;
}

h1{
  color: #FFF;
  font-size: 140px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0,0,0,0.6);
  font-style: normal;
}

h1 span{
  font-weight: 500;
}

#desc{
  font-size: 60px;
  font-variant: small-caps;
  font-weight: 300;
  text-shadow: 2.5px 1.4px rgba(0,0,0,0.6);
  color: #FFF;
}

h4{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: 200;
  color: #423477;
  font-style: oblique;
  text-shadow: 1px 1px black;
}



#time{
  position: absolute;
  text-align: left;
  bottom: 350px;
  left: 100px;
  color: #FFF;
}

#date{
  position: absolute;
  text-align: right;
  bottom: 350px;
  right: 100px;
  color: #FFF;
}

.info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.card{
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    color: #ffffff;
    background-color: #ffffff00;
    opacity: 0.8;
    cursor: pointer;
}

.card-icon{
    font-size: 28px;
    background: #ff6348;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
}

@media screen and (max-width: 800px){
    .info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}